# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ workspace
.idea

# Ignore IntelliJ output folder if not changed
out

# Ignore debug server
server
