# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\locke\OneDrive\Repos\Random\Foundation\.idea/dataSources/
/dataSources.local.xml
